.top
  = image_tag "/images/時計.jpeg"
  .top__contents
    .top__left
      .top__left--title
        make a better
        %br
        environment
        %br
        and time
      .top__left--description
      本アプリケーションは1日のスケジュールをタイマーと共に管理し、学習や業務の効率化を図る事を趣旨としたアプリです。
      ユーザ登録を行うことでスケジューリング機能、タイマー機能をご利用いただけます。
    .top__right
      -# ログイン画面
      .login
        .login-top
          ログイン
        .login__contents
          = form_for :session, url: login_path do |f|
            -# ユーザアカウント
            .form-group
              = f.label :accountname, class: "form-title"
              %br
              = f.text_field :name, class: 'form-control'
              %br          
            -# メールアドレス
            .form-group
              = f.label :email, class: "form-title"
              %br
              = f.email_field :email, class: 'form-control'
              %br
              -# パスワード
            .form-group
              = f.label :password, class: "form-title"
              %br
              = f.password_field :password, class: 'form-control'
              %br
            -# ログイン
            .form-submit
              = f.submit "Login", class: "btn-submit"
        
        -# SNS認証未実装の為非表示
        -# .login__sns
        -#   = image_tag "/images/btn_google_signin_light_focus_web.png",{class: "google"}
        -#   = image_tag "/images/btn_facebook_signin.png", {class: "facebook"}
        .today
          .today-main
            今日から頑張りたいあなたは
          .today-sub
            こちら
      -# 新規登録画面
      .signup
        .signup-top
          新規登録
        .signup__contents
          = form_with(model: @user, url: users_path, local: true) do |f|
            -# ユーザアカウント
            .form-group
              = f.label :accountname, class: "form-title"
              %br
              = f.text_field :name, class: 'form-control'
              %br          
            -# メールアドレス
            .form-group
              = f.label :email, class: "form-title"
              %br
              = f.email_field :email, class: 'form-control'
              %br
              -# パスワード
            .form-group
              = f.label :password, class: "form-title"
              %br
              = f.password_field :password, class: 'form-control'
              %br
              -# パスワード確認
            .form-group
              = f.label :password_confirmaion, class: "form-title"
              %br
              = f.password_field :password_confirmation, class: 'form-control'
              %br
            -# ログイン
            .form-submit
              = f.submit "Signup", class: "btn-submit"

        -# SNS認証未実装の為非表示
        -# .signup__sns
        -#   = image_tag "/images/btn_google_signin_light_focus_web.png",{class: "google"}
        -#   = image_tag "/images/btn_facebook_signup.png", {class: "facebook"}

        .already
          .already-main
            登録済みで頑張っているあなたは
          .already-sub
            こちら
.introduction-about
  .about-top.blue
    = icon("fas", "question-circle")
    about
  .about-description
    1日のスケジュールを分単位で管理、可視化させる事でタスクの進捗が把握し易くなり、作業効率化に繋がります。
    %br
    本アプリケーションはタスクを登録する際に目標時間を設定します。タスク一覧で表示し、終了したタスクは完了ボタンにてクローズします。
    %br
    また、カレンダーより過去のタスクも確認できますので、当日の作業をスムーズに開始する事が可能です。
  .about-image
    = image_tag "/images/mainpage.png", class:"about-image"

-# Webタイマーは紹介の必要性について検討中な為コメントアウト
-# .introduction-timer
-#   .timer-top.blue
-#     = icon("fas", "stopwatch")
-#     Webタイマー
-#   .timer-content
-#     .timer-image
-#       = image_tag "/images/timerpage.png", class:"timer-image"
-#     .timer-description
-#       25分実行＋5分休憩の繰り返しで集中力をキープする「ポモドーロ・テクニック」というものがあります。
-#       %br
-#       人間の集中力の限界は90分と言われており、年齢を進むにつれてこの時間は短くなります。
-#       %br
-#       本アプリケーションでは、25分タイマーと5分タイマーを用意しておりますので、アラームが鳴るまで作業に集中、
-#       %br
-#       どこまで作業を進めたかのメモを取り5分間の休憩、そしてまた25分と繰り返し、集中力の持続を行っていきます。
.footer
  .footer-left
  .footer-right
    product by 