.schedules-wrapper
  -# value属性から日付情報をJS側で取得する為、架空の非表示inputタグを作成
  %input.cale_date{name: "cale_date", type: "hidden", value: "#{@tmp}"}
  #cale
    #cale1
      = @month
    #cale2
      月
    #cale3
      = @day
    #cale4
      日のスケジュール確認
  .schedule-contents
    - if @cale.present?
      - @cale.each do |schedule|
        - if schedule.done == 1
          .schedule-content-calendar-done
            .schedule-top
              - if schedule.tag_id == 1
                .scheduletag__1
                  = schedule.tag.name
              - elsif schedule.tag_id == 2
                .scheduletag__2
                  = schedule.tag.name
              - elsif schedule.tag_id == 3
                .scheduletag__3
                  = schedule.tag.name
              - elsif schedule.tag_id == 4
                .scheduletag__4
                  = schedule.tag.name
              - elsif schedule.tag_id == 5
                .scheduletag__5
                  = schedule.tag.name
              - elsif schedule.tag_id == 6
                .scheduletag__6
                  = schedule.tag.name
              .schedule-title
                = schedule.title
              .schedule-time
                = schedule.starttime.strftime("%H:%M")
                %p 〜
                = schedule.finishtime.strftime("%H:%M")
            .schedule-description
              = simple_format(schedule.description)
        - else
          .schedule-content-calendar
            .schedule-top
              - if schedule.tag_id == 1
                .scheduletag__1
                  = schedule.tag.name
              - elsif schedule.tag_id == 2
                .scheduletag__2
                  = schedule.tag.name
              - elsif schedule.tag_id == 3
                .scheduletag__3
                  = schedule.tag.name
              - elsif schedule.tag_id == 4
                .scheduletag__4
                  = schedule.tag.name
              - elsif schedule.tag_id == 5
                .scheduletag__5
                  = schedule.tag.name
              - elsif schedule.tag_id == 6
                .scheduletag__6
                  = schedule.tag.name
              .schedule-title
                = schedule.title
              .schedule-time
                = schedule.starttime.strftime("%H:%M")
                %p 〜
                = schedule.finishtime.strftime("%H:%M")
            .schedule-description
              = simple_format(schedule.description)
    -  elsif @schedules.blank?
      .index-date
        スケジュールは登録されていません。