.memo-wrapper
  .memo-contents
    - if @memos.present?
      - @memos.each do |memo|
        .memo-content
          .memo-head
            .memo-title
              = memo.created_at.strftime("%Y年%m月%d日 %H:%M:%S")
            .memo-cross
              = link_to "☓", memo_path(memo.id), method: :delete, class: "black"
          .memo-description
            = memo.memo
  .memo-bottom
    = form_with(model: @memo, action:"/memos/new", class: "memo-flex", local: true) do |f|
      .memo-form
        = f.text_field :memo, class: "form-control-memo"
      .memo-submit
        = f.submit "送信", class: "btn-memo"
