.right-schedules
  本日のスケジュール(簡易)
  - @newsche.each do |sche|
    = link_to edit_schedule_path(sche.id) do
      .right-schedule
        .right-schedule__top
          - if sche.tag_id == 1
            .right-schetag__1
              = sche.tag.name
          - elsif sche.tag_id == 2
            .right-schetag__2
              = sche.tag.name
          - elsif sche.tag_id == 3
            .right-schetag__3
              = sche.tag.name
          - elsif sche.tag_id == 4
            .right-schetag__4
              = sche.tag.name
          - elsif sche.tag_id == 5
            .right-schetag__5
              = sche.tag.name
          - elsif sche.tag_id == 6
            .right-schetag__6
              = sche.tag.name
          .right-sche__time
            = sche.starttime.strftime("%H:%M")
            %p 〜
            = sche.finishtime.strftime("%H:%M")
        .right-sche__title
          = sche.title
