.schedules-wrapper
  #today
  .schedule-contents
    - if @schedules.present?
      - @schedules.each do |schedule|
        = link_to edit_schedule_path(schedule.id) do
          .schedule-content
            .schedule-top
              - if schedule.tag_id == 1
                .scheduletag__1
                  = schedule.tag.name
              - elsif schedule.tag_id == 2
                .scheduletag__2
                  = schedule.tag.name
              - elsif schedule.tag_id == 3
                .scheduletag__3
                  = schedule.tag.name
              - elsif schedule.tag_id == 4
                .scheduletag__4
                  = schedule.tag.name
              - elsif schedule.tag_id == 5
                .scheduletag__5
                  = schedule.tag.name
              - elsif schedule.tag_id == 6
                .scheduletag__6
                  = schedule.tag.name
              .schedule-title
                = schedule.title
              .schedule-time
                = schedule.starttime.strftime("%H:%M")
                %p 〜
                = schedule.finishtime.strftime("%H:%M")
            .schedule-description
              = simple_format(schedule.description)
    -  elsif @schedules.blank?
      .index-date
        まだスケジュールを登録していないようです。
        %br
        下記ボタンより新規登録を行いましょう！
        = link_to new_schedule_path, class:"white" do
          .index-new
            本日のスケジュールを作成する