!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TasQlock
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    %header
      .notifications.time-limit
        - flash.each do |key, value|
          = content_tag(:div, value, class: key)
      .header
        .header__left
          = link_to "TasQlock", today_schedules_path, class: "blue"
        .header__middle
          #date
        .header__right
          - if user_signed_in?
            %ul.list-name
              // ここでcurrent_userメソッドを使っているけど、user_signed_in?を呼んだ時点で@current_userにユーザーがいるのでそっちを使ったほうが、流れとして違和感がない
              = current_user.name
              %li.list-logout
                = link_to logout_path, method: :delete, class: "black" do
                  = icon("fas", "sign-out-alt")
                  ログアウト
    = yield